body{
    min-width: 240px;
}
.searchForm{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm>input{
    margin-right: 15px !important;
}

.movie{
    display: flex;
    flex-direction: row;
}
.movie-description{
    display: flex;
    flex-direction: column;
}
.movie-img{
    max-width: 100px;
    max-height: 130px;
}
@media(max-width: 320px){
    .movie{
        display: flex;
        flex-direction: column;
    }
}