body{
    min-width: 240px;
}
.searchForm{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm>input{
    margin-right: 15px !important;
}

.movie{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.movie-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    min-width: 280px;
    margin: 10px;

}
.movie-img>img{
    width: 280px;
}
.movie-description{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rosybrown;
}
.movie-details-description>{
    display: flex;
    flex-direction: row;
}
#movie-recomendations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#movie-recomendations-container{
    display: flex;
    flex-wrap: wrap;
}
.movie-recomendation>img{
    max-width: 150px !important;
    min-width: 120px;
}
.movie-coll{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.movie-coll-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    max-width: 140px;
    min-height: 200px;
    min-width: 140px;
    margin: 10px;
}
.movie-coll-img>img{
    height: 200px;
    width: 140px;
}
.movie-coll-description{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rosybrown;
}
@media(max-width: 500px){
    .movie-coll,.movie{
        display: flex;
        flex-direction: column;
    }
}
