body{
    min-width: 240px;
}
.searchForm{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchForm>input{
    margin-right: 15px !important;
}

.movie{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.movie-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    max-width: 140px;
    min-height: 200px;
    min-width: 140px;
    margin: 10px;

}
.movie-img>img{
    height: 200px;
    width: 140px;
}
.movie-description{
    display: flex;
    flex-direction: column;
    border-left: 2px solid rosybrown;
}
@media(max-width: 320px){
    .movie{
        display: flex;
        flex-direction: column;
    }
}